[Unit]
Description=uWSGI instance to serve sambot-formatter
After=network.target
StartLimitBurst=1
StartLimitIntervalSec=1

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/sambot-formatter
Environment="PATH=/var/www/sambot-formatter/venv/bin"
ExecStart=/var/www/sambot-formatter/venv/bin/uwsgi --ini /var/www/sambot-formatter/sambot-formatter.ini

RestartSec=2
Restart=always

[Install]
WantedBy=multi-user.target